
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Find a guide</title>
  <link rel="stylesheet" href="style.scss">
</head>

<body>
  <div id="banner">
    <div class="banner-text">

    <h1>Find your Guide on GetYourGuide</h1>

    <p>The best way to find the best guides around you</p>

    <%= link_to "Browse Guides", guides_path, class: "btn btn-primary"%>
    </div>
  </div>

</div>
</div>

</body>
</html>

