#banner {
  background-image: url('./background.jpg');
  background-size: cover;
  padding: 150px;
  text-align: center;
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 3px;

}

.banner-text p {
  color: white;
}

#banner h1 {
  color: red;
}

h1 {
  color: red;
}



